body{
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    color: #fff;
    background-color: #8aba87;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
}
.authority{
    width: 40%;
    margin: 10px;
}
#project{
    background-color: darkcyan;
    overflow-y: scroll;
    height: 60%;
    text-align: left;
}
.margin-bottom{
    margin-bottom: 10px !important;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}
.margin-bottom-sm{
    margin-bottom: 5px !important;
}
.input-group{
    position: relative;
    display: table;
    border-collapse: separate;
}
*{
    box-sizing: border-box;
}