body{
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    color: #fff;
    background-color: #8aba87;
    text-align: center;
    font-size: 15px;
    overflow: hidden;
}
.authority{
    width: 40%;
    margin: 10px;
}
#project{
    background-color: darkcyan;
    overflow-y: scroll;
    height: 60%;
    text-align: left;
}