.demo-button {
    align-self: flex-start;
    margin-right: 1em;
    border: 2px solid;
    border-radius: 4px;
    font: inherit;
    font-size: 1.2em;
    padding: .4em 1.2em;
    color: inherit;
    background-color: transparent;
}
#sidebar{
    float: left;
    /*border-style: solid;*/
    /*border-color: aqua;*/
    background-color: aquamarine;
    height: 800px;
    width: 15%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#container{
    float: right;
    /*border-style: solid;*/
    background-color: aliceblue;
    width: 85%;
    height: 800px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.mainpanel{
    border-radius: 5px;
}
#toolbar{
    background-color: darkcyan;
}
body{
    font-family: system, -apple-system, '.SFNSText-Regular', 'SF UI Text', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}